.landing-section {
  height: 100vh;
  position: relative;
}

.carousel-slide {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-content_1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  color: #fefbfb;
  line-height: 160px;
  text-align: center;
  background-image: url('./public/images/maize-4.jpg');
  background-position: center;
  background-size: cover;
}

p {
  margin-bottom: 20px;
}

h1 {
  color: #110808;
  margin-top: 30px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.emphasis {
  font-weight: bold;
  color: #0ae092;
}

.demo-logo{
  color: white;
}
